body{
    margin: 0 auto;
    background-color: #FAFAFA;
}
.wrapper{
    margin-left: 10%;
    margin-right: 10%;
}
#header_card{
    height: 357px;
    width: 445px;
    position: absolute;
    left: 10%;
    right: 0%;
    top: 30%;
    bottom: 0%;
    
}
#header_card p{
    font-size: 40px;
    font-style: bold;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
  
    text-align: left;
    vertical-align: top;
    word-spacing: 5px;
    letter-spacing: -0.90px;
    height: 200px;
    width: 390px;
    left: 0px;
    top: 56px;
    color: #3a3a42;
}
#header_card p #name{
    color: #213A4E;
}
#header_image{
    height: 600px;
    width: 100% auto;
    display: flex;
    flex-wrap: wrap;
}

#header_image #header-img{
    width: max-content; 
    justify-content: center; 

}

#btn, #header_btnHolder{
    height: 48px;
}

#header_btnHolder{
    position: absolute;
    background-color: #203A4D;
    width: 200px;
    bottom: 0px;
    left: 0px;
}

#btn_header{
    position: absolute;
    background-color: #203A4D;
    width: 150px;
    bottom: 0px;
    right: 0%;
    height: 48px;
    color: #ffffff
}

#bio-wrapper{
    height: 600px;
    width: 350px;
    vertical-align: middle;
}

#bio-wrapper p{
    font-family: Public Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color: #33323D;
}

#bio-wrapper h3{
    font-family: Ibarra Real Nova;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.3571428656578064px;
    text-align: left;

}

.container, footer .wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.section-2{
    margin-top: 20%;
}
.section-2 p{
    height:84px;
    width: 350px;
    font-family: Ibarra Real Nova;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.3571428656578064px;
    text-align: left;
    color: #33323D;

}
.icons{
    height: 40px;
    width: 40px;
}
#logo{
    height: 30px;
    width: 48px;
}

ul{
    text-decoration: none;
    list-style: none;
}

nav{
    padding-top: 20px;
}

li{
    margin: 10px 10px 10px 10px;
}

#home{
    color: #5FB4A2;
    cursor: pointer;
}

#home:hover{
    color: #203A4D;
}
footer{
    background-color: #33323E; 
    position: absolute;
    width: 100%;
    height: 80px;
    margin-top: 20%;
    left: 0px;}

footer li{
    color: #f9f9f9;}

footer #footer-nav{
    margin-left: 20px;}

#media-icons{
    position: absolute;
    right: 10%;}

#media-icons .media{
    margin-left: 20px;}

#header_img{
    position: relative;
    width: 100%;
}
a{
    text-decoration: none;
}

/* CONTACT */
#social-container{
    background-color: #FAFAFA;
    width: 70px;
    height: 500PX;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
   
}

.social{
    padding: 20px;
}

#form-wrapper{
    height: 480px;
    width: 300px;
    padding: 10px;
    background-color: #eceae6;
    margin-left: 150px;
    border-radius: 10px;
    margin-right: -0px;
}

form{
    margin-top: 10px;
    padding: 10px;;
    height: 250px;
}

#contact-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 5%;
}

#contact-header h4{
    font-size: 18px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#contact-header p{
    font-size: 16px; 
    color: #686868; 
    font-family:0tahoma;
    margin-top: -15px;
}
#contact-image-wrapper{
    border: 1px solid gray;
    background-color: #454545;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.contact-btn{
    width: 100%;
    background-color:#35383D;
    margin-top:  40px;
    color: #ffffff;
    font-size: 16px;
    border-radius: 10px;
    border: 0px;
}

.contact-btn:hover{
    background-color: #2b7ce6;
}

#message, #email{
    border: 1px solid lightblue;
    border-radius: 10px;
    width: 95%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    padding-left: 10px

}
.form-items #message{
    margin-top: 10px;
    resize: none;
}
#email{
    height: 40px;
}

/* MENU */
.menu-list{
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

/* MAP */
.mapouter{
    position:relative;
    text-align:right;
    height: 500px;
    width: 600px;}

#gmap_canvas{
    width: 600px;
    height: 500px;
}

/* DESKTOP - LARGE SCREEN */
@media (min-width: 1253px) and (max-width: 1425px) {
    #form-wrapper{
        margin-left:10px;
    }

}
/* MEDIUMS SCREEN */
@media (min-width: 769px) and (max-width: 1252px) {

    #gmap_canvas, .mapouter{
        margin-top: 40px;
        width: 900px;

    }
   .container-left{
       margin-left: 10%;
   }
   
}


/* DESKTOP - SMALL SCREEN */
@media (min-width: 769px) and (max-width: 1024px) {
    #gmap_canvas, .mapouter{
        margin-top: 30px;
        width: 800px;

    }
}

/* IPADS AND TABLETS */
@media (min-width: 481px) and (max-width: 768px) {
    .menu-list{
        visibility: hidden;
    }
    #gmap_canvas, .mapouter{
        margin-top: 30px;
        width: 600px;

    }
    .wrapper{
        margin-left: 5%;
        margin-right: 5%;
    }
}

/* MOBILE SCREEN */
@media (min-width: 320px) and (max-width: 480px) {
    .nav{
        margin-left: 10%;
        margin-right: 10%;

    }
    .menu-list{
        visibility: hidden;
    }
    #gmap_canvas, .mapouter{
        margin-right: 5%;
        margin-top: 10px;
        width: 100%;

    }
    .wrapper{
        margin-left: 0%;
        margin-right: 0%;
    }

    #social-container, #social-wrapper{
        background-color: #774949;
        width: 500px;
        height: 70PX;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    #form-container{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    #form-wrapper{
        margin-right: 10%;
    }

  
}
