body{
    margin: 0 auto;
    background-color: #FAFAFA;
}
.wrapper{
    margin-left: 10%;
    margin-right: 10%;
}
#header_card{
    height: 357px;
    width: 445px;
    position: absolute;
    left: 10%;
    right: 0%;
    top: 30%;
    bottom: 0%;
    
}
#header_card p{
    font-size: 40px;
    font-style: bold;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
  
    text-align: left;
    vertical-align: top;
    word-spacing: 5px;
    letter-spacing: -0.90px;
    height: 200px;
    width: 390px;
    left: 0px;
    top: 56px;
    color: #3a3a42;
}
#header_card p #name{
    color: #213A4E;
}
#header_image{
    height: 600px;
    width: 100% auto;
    display: flex;
    flex-wrap: wrap;
}

#header_image #header-img{
    width: max-content; 
    justify-content: center; 

}

#btn, #header_btnHolder{
    height: 48px;
}

#header_btnHolder{
    position: absolute;
    background-color: #203A4D;
    width: 200px;
    bottom: 0px;
    left: 0px;
}

#btn_header{
    position: absolute;
    background-color: #203A4D;
    width: 150px;
    bottom: 0px;
    right: 0%;
    height: 48px;
    color: #ffffff
}

#bio-wrapper{
    height: 600px;
    width: 350px;
    vertical-align: middle;
}

#bio-wrapper p{
    font-family: Public Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color: #33323D;
}

#bio-wrapper h3{
    font-family: Ibarra Real Nova;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.3571428656578064px;
    text-align: left;

}

.container, footer .wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.section-2{
    margin-top: 20%;
}
.section-2 p{
    height:84px;
    width: 350px;
    font-family: Ibarra Real Nova;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.3571428656578064px;
    text-align: left;
    color: #33323D;

}
.icons{
    height: 40px;
    width: 40px;
}
#logo{
    height: 30px;
    width: 48px;
}

ul{
    text-decoration: none;
    list-style: none;
}

nav{
    padding-top: 20px;
}

li{
    margin: 10px 10px 10px 10px;
}

#home{
    color: #5FB4A2;
    cursor: pointer;
}

#home:hover{
    color: #203A4D;
}
footer{
    background-color: #33323E; 
    position: absolute;
    width: 100%;
    height: 80px;
    margin-top: 20%;
    left: 0px;}

footer li{
    color: #f9f9f9;}

footer #footer-nav{
    margin-left: 20px;}

#media-icons{
    position: absolute;
    right: 10%;}

#media-icons .media{
    margin-left: 20px;}

#header_img{
    position: relative;
    width: 100%;
}
a{
    text-decoration: none;
}


@media (max-width: 1100px) {
    #header_image{
        background-image: url("./images/header_800px.png");
    }
    .footer-nav{
        visibility: hidden;
    }

    main{
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        display: block;
    }

    .wrapper{
        margin-left: 10%;
        margin-right: 10%;
    }

    .profile-bio{
        width: 100%;
    }
    .section-2 p{
        height:84px;
        width: 350px;
        font-family: Ibarra Real Nova;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: -0.3571428656578064px;
        text-align: left;
        color: #33323D;
    
    }
    #bio-wrapper{
        height: auto;
        width: 80%;
        vertical-align: middle;
    }
.container-profile{
    justify-content: center;
    margin: 0 auto;
    text-align: center;

}

}

